* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
ul { list-style: none;}
a {
    text-decoration: none;
    color: #000;
}
/* 헤더 */
#header {
    width: 100%;
    height: 100%;
    /* outline: 1px solid red; */
    position: relative;
    background-color: #f7f7f7;
}
#header img {
    position: relative;
    top: 10px;
    padding-bottom: 10px;
}
#gnb {
    background-color: #333;
    position: relative;
}
#gnb li a {
    display: block;
    padding: 0.5em;
    text-align: center; 
    color: #fff;
}
#gnb li a:hover {
    font-weight: bold;
    color: #ffda00;
}
#btn_toggle {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 25px;
}  
#btn_toggle > .fa-bars {
    font-size: 20px;
    color: #666;
}
#visual-container-full {
    background-color: #f7f7f7;
}
#visual {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: url(../img/me.jpg);
    background-position: center;

}
#visual .box1, .box2, .me, .tape{
    display: none;
}
#visual span {
    font-family: 'Permanent Marker', cursive;
    display: block;
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 40px;
}
#visual p {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    top: 210px;
    left: 20px;
    font-size: 20px;
}
#about {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    margin-top: 50px;
    margin-bottom: 50px;
}
#about .line {
    position: absolute;
    left: 26%;

}
#about h1 {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 30px;
}
#about .about-smile {
    display: none;
}
#intro {
    width: 100%;
    position: relative;
    top: 100px;
}
#intro h3 {
    padding-bottom: 20px;
    line-height: 30px;
}
#intro p {
    line-height: 30px;
}
#skills {
    width: 100%;
    /* background-color: #ccc; */
    /* outline: 1px solid red; */
    position: relative;
    top: 150px;
}
#skills h3 {
    padding-bottom: 20px;
}
#skills p {
    padding-left: 20px;
    padding-bottom: 45px;
}
#skills ul {
    top: -200px;
    position: relative;
    padding-left: 130px;
    padding-bottom: 10px;
    /* outline: 1px solid blue; */
}
#skills ul li {
    display: inline-block;
    padding-right: 10px;
}

/* works */
#works-container-full {
    background-image: url(../img/bg.png);
    /* background-color: rgba(255,247,211,0.3); */
    /* outline: 1px solid red; */
}
#works {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#works .line2 {
    position: absolute;
    left: 26%;
}
#works h1 {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 30px;
}
#works div a:hover > .info {
    display: block;
}
#works .list1 .info {
    position: absolute;
    width: 585px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 585px;
    font-size: 1em;
}
#works .list2 .info {
    position: absolute;
    width: 278px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 275px;
    font-size: 1em;
}
#works .list3 .info {
    position: absolute;
    width: 278px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 275px;
    font-size: 1em;
}
#works .list4 .info {
    position: absolute;
    width: 586px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 280px;
    font-size: 1em;
}
#works .list5 .info {
    position: absolute;
    width: 586px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 280px;
    font-size: 1em;
}
#works .list6 .info {
    position: absolute;
    width: 278px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 275px;
    font-size: 1em;
}
#works .list7 .info {
    position: absolute;
    width: 278px;
    height: 100%;
    left: 0; top: 0;
    background-color: #000;
    opacity: 0.9;
    display: none;
    color: #fff;
    text-align: center;    
    font-weight: bold;
    line-height: 275px;
    font-size: 1em;
}

.list1 {
    width: 100%;
    height: 585px;
    position: absolute;
    left: 10px;
    top: 100px;

}
.list2 {
    width: 100%;
    height: 275px;
    position: absolute;
    left: 10px;
    top: 700px;
}
.list3 {
    width: 100%;
    height: 275px;
    position: absolute;
    left: 317px;
    top: 700px;
}
.list4 {
    width: 100%;
    height: 280px;
    position: absolute;
    left: 10px;
    top: 990px;
    overflow: hidden;
}
.list5 {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1290px;
    left: 10px;
}
.list6 {
    width: 100%;
    height: 280px;
    position: absolute;
    left: 10px;
    top: 1590px;
}
.list7 {
    width: 100%;
    height: 280px;
    position: absolute;
    left: 317px;
    top: 1590px;
}
#contact {
    width: 100%;
    /* height: 400px; */
    margin: 0 auto;
    margin-top: 50px;
    /* outline: 1px solid blue; */
    position: relative;
    top: 1900px;
}    
#contact .line3 {
    position: absolute;
    left: 26%;
}
#contact h1 {
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 30px;
    padding-bottom: 50px;
}
#contact ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
#contact p {
    padding-top: 20px;
}
footer {
    background: #ffda00;
    height: 50px;
    font-size: 10px;
    position: relative;
    width: 100%;
    top: 1930px;
}
footer div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}
#move_top_btn {
    position: fixed;
    right: 2%;
    bottom: 20px;
    display: none;
    z-index: 999;   
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #ffda00;
    opacity: 0.8;
}